<page-header></page-header>

<title-bar
  [title]="event.name"
  [backButton]="true"
  [management]="true">
</title-bar>

<div class="container-md pb-5 mt-3">
  <div class="buttons mt-2">
    <button type="button" class="btn btn-secondary rounded-0 w-100" [routerLink]="['/event', event.id]">{{ 'go-to.event-page' | translate }}</button>
  </div>

  <h2 class="mt-3 fs-4">{{ 'manage.event-details' | translate }}</h2>
  <form class="details">
    <div class="mb-3">
      <label for="name" class="form-label">{{ 'manage.event-form.name' | translate }}</label>
      <input type="text" class="form-control" id="name">
    </div>
    <div class="mb-3">
      <label for="city" class="form-label">{{ 'manage.event-form.city' | translate }}</label>
      <input type="text" class="form-control" id="city">
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="date-start" class="form-label">{{ 'manage.event-form.date-start' | translate }}</label>
        <input type="text" class="form-control" id="date-start">
      </div>
      <div class="col">
        <label for="date-end" class="form-label">{{ 'manage.event-form.date-end' | translate }}</label>
        <input type="text" class="form-control" id="date-end">
      </div>
    </div>
    <div class="mb-3">
      <label for="logo" class="form-label">{{ 'manage.event-form.logo' | translate }}</label>
      <input class="form-control" type="file" id="logo">
    </div>
    <div class="buttons mt-2 text-end">
      <button type="submit" class="btn btn-success rounded-0">{{ 'manage.submit' | translate }}</button>
    </div>
  </form>

  <h2 class="mt-3 fs-4">{{ 'manage.modalities' | translate }}</h2>
  <div class="modalities">
    <ul class="list-group list-group-flush">
      <a *ngFor="let modality of modalities" [routerLink]="['/modality', event.id, 'manage']" class="list-group-item list-group-item-action">{{ modality.name }}</a>
    </ul>
    <div class="buttons mt-2 text-end">
      <button type="button" class="btn btn-success rounded-0">{{ 'manage.add-modality' | translate }}</button>
    </div>
  </div>

  <h2 class="mt-3 fs-4">{{ 'manage.groups' | translate }}</h2>
  <div class="modalities">
    <ul class="list-group list-group-flush">
      <a *ngFor="let group of groups" [routerLink]="['/group', event.id, 'manage']" class="list-group-item list-group-item-action">{{ group.name }}</a>
    </ul>
    <div class="buttons mt-2 text-end">
      <button type="button" class="btn btn-success rounded-0">{{ 'manage.add-group' | translate }}</button>
    </div>
  </div>
</div>
