<page-header></page-header>

<title-bar title="{{ 'titles.events' | translate }}"></title-bar>

<div class="container-md pb-5 mt-3">
  <div class="row">
    <div *ngFor="let item of events" class="col-sm-6 col-lg-4 col-xl-3">
      <div class="card">
        <a [routerLink]="['/event', item.id]">
          <img *ngIf="item.logo" src="{{ item.logo }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">
              {{ item.startDate }} - {{ item.endDate }}<br/>
              {{ item.location }}
            </p>
          </div>
        </a>
        <ul class="list-group list-group-flush">
          <a [routerLink]="['/event', item.id, 'modalities']" class="list-group-item list-group-item-action">{{ 'events.modalities' | translate }}</a>
          <a [routerLink]="['/event', item.id, 'groups']" class="list-group-item list-group-item-action">{{ 'events.groups' | translate }}</a>
          <a *ngIf="authService.isLoggedIn" [routerLink]="['/event', item.id, 'manage']" class="list-group-item list-group-item-action bg-warning text-dark">{{ 'menu.manage' | translate }}</a>
        </ul>
      </div>
    </div>
  </div>
</div>
