<page-header></page-header>

<title-bar
  title="Modality name here"
  [backButton]="true"
  [management]="true">
</title-bar>

<div class="container-md pb-5 mt-3">
  <h2>Manage Modality page</h2>
  <div>Go to modality</div>
  <div>Modality details (sport, name, maxTeamSize, maxParticipantsPerGroup)</div>
  <div>List stages (with edit - modal - and remove button)</div>
  <div>Add stage (modal)</div>
  <div>List teams (with edit - modal - and remove button)</div>
  <div>Add team (set group, name and members - modal)</div>
</div>
