<page-header></page-header>

<title-bar
  title="{{ isNew ? ('manage.new-modality' | translate) : modality.name }}"
  [backButton]="true"
  [management]="true">
</title-bar>

<div class="container-md pb-5 mt-3">
  <p-toast></p-toast>

  <div *ngIf="!isNew" class="buttons mt-2">
    <button type="button" class="btn btn-secondary rounded-0 w-100" [routerLink]="['/modality', modality.id]">{{ 'go-to.modality-page' | translate }}</button>
  </div>

  <h2 class="mt-3 fs-4">{{ 'manage.modality-details' | translate }}</h2>
  <form class="details" #modalityForm="ngForm" (ngSubmit)="handleSubmit()" [class.validated]="validated">
    <div class="mb-3">
      <label for="name" class="form-label">{{ 'manage.modality-form.name' | translate }}</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="modality.name" #name="ngModel">
    </div>
    <div class="mb-3">
      <label for="sport" class="form-label">{{ 'manage.modality-form.sport' | translate }}</label>
      <select class="form-select" id="sport" name="sport" [(ngModel)]="modality.sport.id" #sport="ngModel">
        <option value="0" selected>- {{ 'manage.modality-form.select-sport' | translate }} -</option>
        <option *ngFor="let sport of sports" [value]="sport.id">{{ 'sports.' + sport.code | translate }}</option>
      </select>
    </div>
    <div class="row mb-3">
      <div class="col">
        <label for="max-team-size" class="form-label">{{ 'manage.modality-form.max-team-size' | translate }}</label>
        <input type="number" class="form-control" id="max-team-size" name="max-team-size" [(ngModel)]="modality.maxTeamSize" #maxTeamSize="ngModel">
      </div>
      <div class="col">
        <label for="max-teams-per-group" class="form-label">{{ 'manage.modality-form.max-teams-per-group' | translate }}</label>
        <input type="number" class="form-control" id="max-teams-per-group" name="max-teams-per-group" [(ngModel)]="modality.maxTeamsPerGroup" #maxTeamsPerGroup="ngModel">
      </div>
    </div>
    <div class="buttons mt-2 text-end">
      <button type="submit" class="btn btn-success rounded-0" [disabled]="!modalityForm.form.valid">{{ 'manage.submit' | translate }}</button>
    </div>
  </form>

  <div *ngIf="!isNew" class="mt-3 stages">
    <h2 class="fs-4">{{ 'manage.stages' | translate }}</h2>
    <p-table styleClass="mt-3" #stagesTable
      [value]="stages" dataKey="id" [rows]="5"
      [rowsPerPageOptions]="[5,10,25,50]" [loading]="isLoadingStages"
      [paginator]="true" [globalFilterFields]="['name','mode']">
      <ng-template pTemplate="caption">
        <input pInputText type="text" (input)="filterStagesTable($event)" placeholder="{{ 'manage.search' | translate }}" />
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>{{ 'manage.stage-form.name' | translate }}</th>
          <th>{{ 'manage.stage-form.mode' | translate }}</th>
          <th style="width:4rem"></th>
          <th style="width:4rem"></th>
          <th style="width:4rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-stage>
        <tr>
          <td>{{ stage.name }}</td>
          <td>{{ 'stages.modes.' + stage.mode | translate }}</td>
          <td>
            <button *ngIf="!stage.started" type="button" pButton icon="pi pi-play" (click)="startStage(stage)" title="{{ 'manage.start' | translate }}" class="p-button-success"></button>
          </td>
          <td>
            <button type="button" pButton icon="pi pi-pencil" (click)="openStage(stage)" title="{{ 'manage.edit' | translate }}"></button>
          </td>
          <td>
            <button type="button" pButton icon="pi pi-trash" (click)="removeStage(stage)" title="{{ 'manage.delete' | translate }}" class="p-button-danger"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">{{ 'manage.no-results-found' | translate }}</td>
        </tr>
      </ng-template>
    </p-table>
    <div class="buttons mt-2 text-end">
      <button type="button" class="btn btn-success rounded-0" [routerLink]="['/modality', modality.id, 'new-stage']">{{ 'manage.add-stage' | translate }}</button>
    </div>
  </div>

  <div *ngIf="!isNew" class="mt-3 teams">
    <h2 class="fs-4">{{ 'manage.teams' | translate }}</h2>
    <p-table styleClass="mt-3" #teamsTable
      [value]="teams" dataKey="id" [rows]="5"
      [rowsPerPageOptions]="[5,10,25,50]" [loading]="isLoadingTeams"
      [paginator]="true" [globalFilterFields]="['name','group.name']">
      <ng-template pTemplate="caption">
        <input pInputText type="text" (input)="filterTeamsTable($event)" placeholder="{{ 'manage.search' | translate }}" />
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>{{ 'manage.team-form.name' | translate }}</th>
          <th>{{ 'manage.team-form.group' | translate }}</th>
          <th style="width:4rem"></th>
          <th style="width:4rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-team>
        <tr>
          <td>{{ team.name }}</td>
          <td>{{ team.group.name }}</td>
          <td>
            <button type="button" pButton icon="pi pi-pencil" (click)="openTeam(team)" title="{{ 'manage.edit' | translate }}"></button>
          </td>
          <td>
            <button type="button" pButton icon="pi pi-trash" (click)="removeTeam(team)" title="{{ 'manage.delete' | translate }}" class="p-button-danger"></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">{{ 'manage.no-results-found' | translate }}</td>
        </tr>
      </ng-template>
    </p-table>
    <div class="buttons mt-2 text-end">
      <button type="button" class="btn btn-success rounded-0">{{ 'manage.add-team' | translate }}</button>
    </div>
  </div>
</div>
