<page-header></page-header>

<title-bar
  [title]="matchName"
  [subtitle]="match.modality?.name"
  [subtitleLink]="['/modality', match.modality?.id]"
  [backButton]="true">
</title-bar>

<div class="time-bar text-center p-2" [class.live]="isLive" [class.final]="match.finished">
  <div *ngIf="!match.started" class="schedule container-md fs-6">{{ (match.dateTimeScheduled | date:'dd/MM/yyyy HH:mm') ?? ('matches.schedule-tbd' | translate) }}</div>
  <div *ngIf="isLive" class="live container-md fs-5 text-white pe-3"><span class="spinner-grow" role="status"></span> {{ 'matches.live' | translate }}</div>
  <div *ngIf="match.finished" class="final container-md fs-6">{{ 'matches.final' | translate }}</div>
</div>

<div class="score-bar bg-light text-center py-2">
  <div class="group-symbols d-flex align-items-stretch py-2">
    <div class="symbol-item w-50 px-4">
      <img [src]="match.teams[0]?.group?.logo ?? '../../../assets/images/default-symbol.png'" alt="" />
    </div>
    <div class="symbol-item w-50 px-4">
      <img [src]="match.teams[1]?.group?.logo ?? '../../../assets/images/default-symbol.png'" alt="" />
    </div>
  </div>
  <div class="score-banner py-2">
    <div class="score-box d-flex align-content-stretch w-50 bg-white p-2 mx-auto">
      <div class="score-item w-50">
        <span class="d-block score fs-1">{{ (match.teams[0]?.score ?? 0) % 1000 }}</span>
        <span *ngIf="showSubscore" class="d-block sub fs-6 text-muted">{{ subscore(match.teams[0].score) }}</span>
      </div>
      <div class="v"></div>
      <div class="score-item w-50">
        <span class="d-block score fs-1">{{ (match.teams[1]?.score ?? 0) % 1000 }}</span>
        <span *ngIf="showSubscore" class="d-block sub fs-6 text-muted">{{ subscore(match.teams[1].score) }}</span>
      </div>
    </div>
    <div class="color-strip c1 t1" [style]="{ 'background-color': (match.teams[0]?.group?.color1 ?? 'black') }"></div>
    <div class="color-strip c2 t1" [style]="{ 'background-color': (match.teams[0]?.group?.color2 ?? 'white') }"></div>
    <div class="color-strip c1 t2" [style]="{ 'background-color': (match.teams[1]?.group?.color1 ?? 'black') }"></div>
    <div class="color-strip c2 t2" [style]="{ 'background-color': (match.teams[1]?.group?.color2 ?? 'white') }"></div>
  </div>
  <div class="group-names d-flex align-items-stretch py-2">
    <div class="symbol-item w-50 px-1 text-truncate fs-5">
      {{ match.teams[0].name }}
    </div>
    <div class="symbol-item w-50 px-1 text-truncate fs-5">
      {{ match.teams[1].name }}
    </div>
  </div>
</div>

<div class="container-md pb-5 mt-3">
  <div class="collapse-holder mb-3">
    <a class="btn btn-secondary rounded-0 d-block collapse-title" data-bs-toggle="collapse" href="#collapseLiveFeed" role="button" aria-expanded="true" aria-controls="collapseLiveFeed">
      {{ 'matches.live-feed' | translate }}
    </a>
    <div class="collapse live-feed show" id="collapseLiveFeed">
      <div class="d-flex flex-column-reverse align-content-stretch mt-2">
        <div *ngFor="let item of feed"
          class="feed-item d-flex align-items-center"
          [class.team1]="item.teamId == match.teams[0].id"
          [class.team2]="item.teamId == match.teams[1].id">
          <div class="time text-center display-6 text-muted py-2" [innerHTML]="formatFeedTime(item.matchTime)"></div>
          <div class="line align-self-stretch">
            <div class="icon" [ngClass]="[item.type]"></div>
          </div>
          <div class="w-100 content ps-3" [ngClass]="[item.type]">
            <div class="action">{{ 'feed.' + item.type | translate }}</div>
            <div class="details text-muted">
              <span class="team">{{ getTeamById(item.teamId).name }}</span>
              <span class="participant">{{ getTeamParticipantById(item.teamParticipantId).name }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="collapse-holder mb-3">
    <a class="btn btn-secondary rounded-0 d-block collapse-title" data-bs-toggle="collapse" href="#collapseLineup" role="button" aria-expanded="false" aria-controls="collapseLineup">
      {{ 'matches.lineups' | translate }}
    </a>
    <div class="collapse lineup" id="collapseLineup">
      <h5 class="mt-3 mb-0">{{ match.teams[0].name }}</h5>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col">{{ 'participant.name' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of participantsByTeam[match.teams[0].id]" class="participant">
            <td class="p-number text-center">{{ p.number }}</td>
            <td class="p-name">{{ p.name }}</td>
          </tr>
        </tbody>
      </table>
      <h5 class="mt-3 mb-0">{{ match.teams[1].name }}</h5>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col">{{ 'participant.name' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let p of participantsByTeam[match.teams[1].id]" class="participant">
            <td class="p-number text-center">{{ p.number }}</td>
            <td class="p-name">{{ p.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
