@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.time-bar {
  background-color: $light;

  &.live,
  &.final {
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  &.live { background-color: $red-600; }

  .live {
    .spinner-grow {
      width: .5rem;
      height: .5rem;
      vertical-align: .15em;
      margin-right: .1em;
    }
  }
}

.score-bar {
  .group-symbols {
    max-height: 150px;

    .symbol-item {
      img {
        max-height: 100%;
        width: auto;
      }
    }
  }

  .score-banner {
    position: relative;

    .color-strip {
      position: absolute;
      width: 50%;
      height: 8px;

      &.c1 { bottom: 50%; z-index: 3; }
      &.c2 { top: 50%; z-index: 2; box-shadow: 0 0 2px 0 rgba(0,0,0,0.6); }

      &.t1 { left: 0; }
      &.t2 { right: 0; }
    }

    .score-box {
      position: relative;
      box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.6);
      z-index: 10;

      .v {
        box-sizing: border-box;
        width: 1px;
        border-top: 8px solid white;
        border-bottom: 8px solid white;
        background-color: black;
        opacity: .6;
      }
    }
  }
}

.live-feed {
  .feed-item {
    .time {
      flex: 0 0 auto;
      width: 70px;
    }

    .line {
      position: relative;
      flex: 0 0 auto;
      width: 39px;

      .icon {
        position: absolute;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        top: 50%; left: 50%;
        transform: translateX(-50%) translateY(-50%);
        border: 1px solid #aaa;
        background-color: white;
        z-index: 9;

        &::before {
          content: '';
          position: absolute;
          top: 4px; bottom: 4px;
          left: 4px; right: 4px;
          background: center no-repeat;
          background-size: contain;
        }

        &.score::before { background-image: url('../../../assets/images/icon-score-football.png'); }
        &.card-yellow::before { background-image: url('../../../assets/images/icon-card-yellow.png'); }
        &.card-red::before { background-image: url('../../../assets/images/icon-card-red.png'); }

        &.match-start,
        &.match-end {
          width: 5px;
          height: 5px;
          background-color: #aaa;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0; bottom: 0;
        left: 50%;
        width: 1px;
        transform: translateX(-50%);
        background-color: #aaa;
        z-index: 5;
      }
    }

    &:first-child {
      .line::before {
        bottom: 50%;
      }
    }

    &:last-child {
      .line::before {
        top: 50%;
      }
    }

    .content {
      .action { margin-top: 1em; }

      &.score .action {
        font-size: 1.2em;
        font-weight: bold;
      }

      .details {
        font-size: .8em;

        span { margin: 0 1em; }
      }
    }
  }
}

::ng-deep {
  .live-feed .feed-item .time > small {
    vertical-align: .5em;
    margin-left: .2em;
    font-size: .6em;
  }
}
