<page-header></page-header>

<title-bar
  [title]="modality.name"
  [subtitle]="modality.event?.name"
  [subtitleLink]="modality.event ? ['/event', modality.event.id] : undefined"
  [backButton]="true">
</title-bar>

<div class="container-md modality pb-5 mt-3">
  <div *ngIf="authService.isLoggedIn" class="buttons mb-3">
    <button type="button" class="btn btn-warning rounded-0 me-2" [routerLink]="['/modality', modality.id, 'manage']">{{ 'menu.manage' | translate }}</button>
  </div>

  <div *ngIf="modality.finished" class="collapse-holder mb-3">
    <a class="collapse-title" data-bs-toggle="collapse" href="#collapseStandings" role="button" aria-expanded="true" aria-controls="collapseStandings">
      {{ 'modalities.standings' | translate }}
    </a>
    <div class="collapse show standings" id="collapseStandings">
      List of Standings
    </div>
  </div>

  <div class="collapse-holder mb-3">
    <a class="btn btn-secondary rounded-0 d-block collapse-title" data-bs-toggle="collapse" href="#collapseMatches" role="button" aria-expanded="false" aria-controls="collapseMatches">
      {{ 'modalities.matches' | translate }}
    </a>
    <div class="collapse matches" id="collapseMatches">
      <ul *ngIf="!modality.finished" class="nav nav-tabs mt-2" id="matchesTabs" role="tablist">
        <li class="nav-item w-50 text-center" role="presentation">
          <button class="nav-link d-block w-100" id="prev-tab" data-bs-toggle="tab" data-bs-target="#prev" type="button" role="tab" aria-selected="false">{{ 'matches.finished' | translate }}</button>
        </li>
        <li class="nav-item w-50 text-center" role="presentation">
          <button class="nav-link d-block w-100 active" id="next-tab" data-bs-toggle="tab" data-bs-target="#next" type="button" role="tab" aria-selected="true">{{ 'matches.next' | translate }}</button>
        </li>
      </ul>
      <div class="tab-content" id="modalityTabsContent">
        <div class="tab-pane fade" [class.active]="modality.finished" [class.show]="modality.finished" id="prev" role="tabpanel" aria-labelledby="prev-tab">
          <div *ngFor="let match of finishedMatches" class="match-item mt-2">
            <match [match]="match"></match>
          </div>
        </div>
        <div *ngIf="!modality.finished" class="tab-pane fade active show" id="next" role="tabpanel" aria-labelledby="next-tab">
          <div *ngFor="let match of remainingMatches" class="match-item mt-2">
            <match [match]="match"></match>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let stage of stages; let i = index" class="collapse-holder mb-3">
    <a class="btn btn-secondary rounded-0 d-block collapse-title" data-bs-toggle="collapse" [href]="'#collapseStage' + i" role="button" aria-expanded="false" [attr.aria-controls]="'collapseStage' + i">
      {{ stage.name }}
    </a>
    <div class="collapse stage" [id]="'collapseStage' + i">
      <ng-container [ngSwitch]="stage.mode">
        <div *ngSwitchCase="'single'">
          <single-bracket [stageId]="stage.id"></single-bracket>
        </div>
        <div *ngSwitchCase="'round'">
          <round-robin [stageId]="stage.id"></round-robin>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="collapse-holder mb-3">
    <a class="btn btn-secondary rounded-0 d-block collapse-title" data-bs-toggle="collapse" href="#collapseTeams" role="button" aria-expanded="false" aria-controls="collapseTeams">
      {{ 'modalities.teams' | translate }}
    </a>
    <div class="collapse teams" id="collapseTeams">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" colspan="2">{{ 'teams.group' | translate }}</th>
            <th scope="col">{{ 'teams.name' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of teams" class="team">
            <td class="group-symbol">
              <div class="group-color-box">
                <span class="color-1" [style]="{ 'border-color': 'black' }"></span>
                <span class="color-2" [style]="{ 'background-color': 'orange' }"></span>
              </div>
            </td>
            <td class="group-name">{{ team.group?.name }}</td>
            <td class="team-name">{{ team.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
