<page-header></page-header>

<div class="container-md modality pb-5">
  <title-bar
    [title]="modality.name"
    [subtitle]="modality.event?.name"
    [back]="modality.event ? ['/event', modality.event.id] : undefined">
  </title-bar>

  <div *ngIf="modality.finished" class="collapse-holder mb-3">
    <a class="collapse-title" data-bs-toggle="collapse" href="#collapseStandings" role="button" aria-expanded="true" aria-controls="collapseStandings">
      {{ 'modalities.standings' | translate }}
    </a>
    <div class="collapse show standings" id="collapseStandings">
      List of Standings
    </div>
  </div>

  <div class="collapse-holder mb-3">
    <a class="btn btn-secondary rounded-0 d-block collapse-title" data-bs-toggle="collapse" href="#collapseMatches" role="button" aria-expanded="false" aria-controls="collapseMatches">
      {{ 'modalities.matches' | translate }}
    </a>
    <div class="collapse matches" id="collapseMatches">
      <ul *ngIf="!modality.finished" class="nav nav-tabs mt-2" id="matchesTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="prev-tab" data-bs-toggle="tab" data-bs-target="#prev" type="button" role="tab" aria-selected="false">Previous</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="next-tab" data-bs-toggle="tab" data-bs-target="#next" type="button" role="tab" aria-selected="true">Next</button>
        </li>
      </ul>
      <div class="tab-content" id="modalityTabsContent">
        <div class="tab-pane fade" [class.active]="modality.finished" [class.show]="modality.finished" id="prev" role="tabpanel" aria-labelledby="prev-tab">
          List of finished matches
        </div>
        <div *ngIf="!modality.finished" class="tab-pane fade active show" id="next" role="tabpanel" aria-labelledby="next-tab">
          List of ongoing and future matches
        </div>
      </div>
    </div>
  </div>

  <div class="collapse-holder mb-3">
    <a class="btn btn-secondary rounded-0 d-block collapse-title" data-bs-toggle="collapse" href="#collapseStage1" role="button" aria-expanded="false" aria-controls="collapseStage1">
      Group Stage
    </a>
    <div class="collapse stage" id="collapseStage1">
      Stage 1 groups
    </div>
  </div>

  <div class="collapse-holder mb-3">
    <a class="btn btn-secondary rounded-0 d-block collapse-title" data-bs-toggle="collapse" href="#collapseStage2" role="button" aria-expanded="false" aria-controls="collapseStage2">
      Playoffs
    </a>
    <div class="collapse stage" id="collapseStage2">
      Stage 2 brackets
    </div>
  </div>

  <div class="collapse-holder mb-3">
    <a class="btn btn-secondary rounded-0 d-block collapse-title" data-bs-toggle="collapse" href="#collapseParticipants" role="button" aria-expanded="false" aria-controls="collapseParticipants">
      {{ 'modalities.participants' | translate }}
    </a>
    <div class="collapse participants" id="collapseParticipants">
      List of Participants
    </div>
  </div>
</div>
