<page-header></page-header>

<div class="container pb-5">
  <h2>{{ modality.name }}</h2>
  <h5>{{ modality.event?.name }}</h5>

  <div class="buttons mt-2" *ngIf="modality.event">
    <button type="button" class="btn btn-secondary" [routerLink]="['/event', modality.event.id]">{{ 'navigation.back' | translate }}</button>
  </div>

  <div *ngIf="liveMatches.length > 0" class="live">
    <h3 class="mt-3">{{ 'events.live' | translate }}</h3>
    <div class="row">
      <div *ngFor="let item of liveMatches" class="col-sm-6 col-lg-4 col-xl-3">
        <div class="card">
          <a [routerLink]="['/match', item.id]">
            <div class="card-header">
              <span class="spinner-grow text-danger" role="status"></span>
              Stage
            </div>
            <ul *ngIf="item.teams" class="list-group list-group-flush">
              <li *ngFor="let team of item.teams" class="list-group-item"><span class="score">{{ team.score }}</span>{{ team.name }}</li>
            </ul>
          </a>
        </div>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs mt-3" id="modalityTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="standings-tab" data-bs-toggle="tab" data-bs-target="#standings" type="button" role="tab" aria-selected="false">{{ 'events.standings' | translate }}</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="schedule-tab" data-bs-toggle="tab" data-bs-target="#schedule" type="button" role="tab" aria-selected="true">{{ 'events.schedule' | translate }}</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="results-tab" data-bs-toggle="tab" data-bs-target="#results" type="button" role="tab" aria-selected="false">{{ 'events.results' | translate }}</button>
    </li>
  </ul>
  <div class="tab-content" id="modalityTabsContent">
    <div class="tab-pane fade" id="standings" role="tabpanel" aria-labelledby="standings-tab">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row">
            <div class="col-6 col-md-2 datetime text-center">1º</div>
            <div class="col-6 col-md-10 team text">Team 1</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-6 col-md-2 datetime text-center">2º</div>
            <div class="col-6 col-md-10 team text">Team 2</div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row">
            <div class="col-6 col-md-2 datetime text-center">3º</div>
            <div class="col-6 col-md-10 team text">Team 3</div>
          </div>
        </li>
      </ul>
    </div>
    <div class="tab-pane fade show active" id="schedule" role="tabpanel" aria-labelledby="schedule-tab">
      <ul class="list-group list-group-flush">
        <a *ngFor="let item of schedule" [routerLink]="['/match', item.id]" class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-6 col-md-2 datetime text-center">12h30</div>
            <div class="col-6 col-md-2 stage text-center">Group A</div>
            <div class="col-6 col-md-3 team text-end">Team 1</div>
            <div class="col-6 col-md-2 text-center">x</div>
            <div class="col-6 col-md-3 team text-start">Team 2</div>
          </div>
        </a>
      </ul>
    </div>
    <div class="tab-pane fade" id="results" role="tabpanel" aria-labelledby="results-tab">
      <ul class="list-group list-group-flush">
        <a *ngFor="let item of schedule" [routerLink]="['/match', item.id]" class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col-6 col-md-2 stage text-center">Group A</div>
            <div class="col-6 col-md-4 team text-end">Team 1</div>
            <div class="col-6 col-md-2 text-center">3 x 2</div>
            <div class="col-6 col-md-4 team text-start">Team 2</div>
          </div>
        </a>
      </ul>
    </div>
  </div>
</div>
