::ng-deep {
  .form-check.form-switch {
    input.form-check-input {
      cursor: pointer;
    }
  }

  p-calendar {
    display: block;

    .p-calendar {
      display: flex;
    }
  }

  p-multiselect {
    .p-multiselect {
      display: flex;
    }
  }

  p-orderlist {
    .p-orderlist {
      .p-orderlist-list-container {
        ul.cdk-drop-list {
          min-height: 100%;
        }
      }
    }
  }
}
